.count{
    color: yellowgreen;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    width: 150px;
    height: 50px;
    margin: 0 5px;
    font-size: 20px;
        background-color: lightblue;
        color: darkblue;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}
.btn:hover{
    background-color: rgb(65, 105, 119);
    color: white;
}