.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  gap: 12%;
  align-items: center;
  padding: 20px;
  z-index: 1;
  background-color: var(--secondary-color);
}

.icon {
  font-size: 25px;
  color: var(--third-color);
  cursor: pointer;
  margin-left: 20px;

  transition: all 0.7s ease;
}

.sidebar {
  position: fixed;
  top: 61px;
  z-index: 1;
  width: 200px;
  height: 100vh;
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  left: -200px;
  transition: all 0.5s ease;
}

.active {
  left: 0;
  transition: all 0.8s ease;
}

.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.content ul {
  list-style: none;
  width: 100%;
}

.content ul li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content ul li a {
  padding: 5px 15px;
  border-radius: 10px;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.sidebar ul li a:hover {
  color: var(--primary-color);
}